
<div class="imatgeportada">
   <br><br><br><br><br><br><br><br><br><br><br><br>

<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="shadow" style="background-color:rgb(40, 39, 39); color:white">
<h4>Your personal Nutrition Bot</h4> 

<p>First of all we need some info about you to calculate your energetic expenditure (only for members)</p>

<form action="/diet" method="POST" id="formulario" >
   <label>Age: 
      <input type="number" name="edad">
      </label>

   <label>Genre: 
   <select name="genero" id="genero">
  <option value="hombre">Man</option>
  <option value="mujer">Woman</option>
   </select>
   </label>
<br><br>
   <label>Weight: 
      <input type="number" placeholder="Kg"name="peso">
      </label>

   <label>Height: 
      <input type="number" placeholder="Cm" name="altura">
   </label>
<br><br>
   <label>Physical Activity: 
  <select name="actividad" id="actividad">
  <option value="330">Low (sedentary lifestyle)</option>
  <option value="660">Moderated (between one to three days a week)</option>
  <option value="990">A lot (more than three days a week)</option>
  </select>
   </label>
<br><br>
   <button type="submit" onclick="window.location.href='/diet'" class="btn btn-info">Send</button>
</form>
</div>
<img src="/images/080cb663-0519-43f2-8f20-01504998778c.jpg"/>

</div>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}