<h1>404 Error</h1>

<h2>Hoy toca ayuno!</h2>

<br><br><br>
<h4>Mira los resultados de nuestra increible dieta:</h4>
<img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Skeleton_diagram.svg" height="400" width="400"/>